<launch>
 
  <!-- set to false if the nodelet should run under an external nodelet manager -->
  <arg name="standalone" default="true" />

  <!-- will it run using GNU debugger? -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="manager" default="base_detector_manager" />
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>

    
  <!-- MoveTurtlebot nodelet -->
  <node pkg="nodelet" type="nodelet" name="laser_turtlebot" args="$(arg nodelet) laser_turtlebot/MoveTurtlebot $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug)" output="screen">
    <rosparam file="$(find laser_turtlebot)/config/default.yaml" />  
  </node>

</launch>